<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--声明注入的bean-->
   <!-- <bean id="userService" class="org.ksea.spring4.framework.ioc.simple.UserServiceImpl"/>-->

    <!--
     bean的作用域探讨
    -->
    <bean id="userService1" class="org.ksea.spring4.framework.ioc.simple.UserServiceImpl" scope="prototype"/>
    <bean id="userService2" class="org.ksea.spring4.framework.ioc.simple.UserServiceImpl" scope="singleton"/>


</beans>