<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--加载数据源配置文件-->
    <context:property-placeholder location="classpath:org/ksea/spring4/framework/tx/jdbc.properties"/>
    <!--配置c3p0的数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--事务管理的数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--AOP管理事务-->
    <!--第一步：定义事务通知-->
    <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
        <!--注册事务的属性-->
        <tx:attributes>
            <tx:method name="open*" isolation="DEFAULT" propagation="REQUIRED"/>
            <tx:method name="stock*" isolation="DEFAULT" propagation="REQUIRED" rollback-for="Exception"></tx:method>

        </tx:attributes>
    </tx:advice>

    <!--使用Aspectj AOP的方式来进行事务管理 ISOLATION_DEFAULT,PROPAGATION_REQUIRED-->
    <aop:config>
        <!--定义切入点-->
        <aop:pointcut id="targetPointcut" expression="execution(* *..tx.aspectj..*.*(..))"></aop:pointcut>
        <!--定义顾问advisor，这里需要一个通知-->
        <aop:advisor pointcut-ref="targetPointcut" advice-ref="transactionAdvice" id="transactionAdvisor"></aop:advisor>
    </aop:config>

    <!--注册JdbcTemplate-->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <!--注册数据源-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>


    <!--注册AccountDao数据访问层-->
    <bean id="accountDao" class="org.ksea.spring4.framework.tx.aspectj.dao.AccountDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    <!--注册StockDao数据访问层-->
    <bean id="stockDao" class="org.ksea.spring4.framework.tx.aspectj.dao.StockDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <!--注册业务处理层-->
    <bean id="stockProcessService" class="org.ksea.spring4.framework.tx.aspectj.service.StockProcessServiceImpl">
        <property name="stockDao" ref="stockDao"></property>
        <property name="accountDao" ref="accountDao"></property>
    </bean>
</beans>