<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--用于声明上线文注解-->
    <context:annotation-config/>
    <!--生命Aspect自动代理-->
    <aop:aspectj-autoproxy/>
    <!--注册目标对象-->
    <bean id="userService" class="org.ksea.spring4.framework.aop.aspectj.annotation.UserServiceImpl"></bean>
    <!--注册切面-->
    <bean id="myAspect" class="org.ksea.spring4.framework.aop.aspectj.annotation.MyAspect"></bean>
</beans>